In [101]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [102]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1340,tt0388795,14000000,178043761,Brokeback Mountain,Heath Ledger|Jake Gyllenhaal|Randy Quaid|Miche...,Ang Lee,Love is a force of nature.,Brokeback Mountain is an Ang Lee film about tw...,134,Drama|Romance,River Road Entertainment|Alberta Film Entertai...,9/2/2005,7.2,2005
1244,tt2388715,5000000,44030246,Oculus,Katee Sackhoff|Karen Gillan|Brenton Thwaites|J...,Mike Flanagan,You see what it wants you to see,A woman tries to exonerate her brother's murde...,104,Horror,Intrepid Pictures|Blumhouse Productions|Relati...,9/8/2013,6.2,2013
159,tt2180411,50000000,212902372,Into the Woods,Meryl Streep|Emily Blunt|James Corden|Anna Ken...,Rob Marshall,Be careful what you wish for...,In a woods filled with magic and fairy tale ch...,125,Fantasy|Comedy|Music,Walt Disney Pictures|Marc Platt Productions|Lu...,12/25/2014,5.6,2014
902,tt0304669,65000000,172855065,The Santa Clause 2,Tim Allen|Elizabeth Mitchell|David Krumholtz|E...,Michael Lembeck,What's Christmas Fun without some Reindeer Games?,Better watch out! The big guy in red is coming...,104,Fantasy|Comedy|Family,Walt Disney Pictures,10/31/2002,5.4,2002
315,tt1160368,20000000,17280326,12 Rounds,John Cena|Ashley Scott|Brian J. White|Aidan Gi...,Renny Harlin,Survive all 12,When New Orleans cop Danny Fisher prevents a b...,108,Action|Adventure|Drama|Thriller,The Mark Gordon Company|Fox Atomic|20th Centur...,3/19/2009,5.9,2009

In [103]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [104]:
answers = {} # создадим словарь для ответов

'''Добавим в датасет дополнительные колонки'''

data['profit'] = data['revenue'] - data['budget']  # Создадим колонку прибыли
data['month'] = [i.split('/')[0] for i in data['release_date']]  # Создадим колонку с выделнным номера месяца
data['size_title'] = [len(i) for i in data.original_title]  # Создадим колонку с подсчитанным кол-вом символов в заголовке фильма
data['size_overview'] = [len(i.split(' ')) for i in data.overview]  # Создадим колонку с подсчитанным кол-вом слов в описании фильма

In [105]:
data.head(5)  # Проверим изменения

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6,14,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5,18,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3,9,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12,28,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4,9,14

# 1. У какого фильма из списка самый большой бюджет?

In [106]:
data[data.budget == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,43,75

In [107]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # '+'

# 2. Какой из фильмов самый длительный (в минутах)?

In [108]:
data[data.runtime == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,17,48

In [109]:
answers['2'] = 'Gods and Generals (tt0279111)'  # '+'

# 3. Какой из фильмов самый короткий (в минутах)?

In [110]:
data[data.runtime == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,15,52

In [111]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # '+'

# 4. Какова средняя длительность фильмов?

In [112]:
data.runtime.mean()

109.6585494970884

In [113]:
answers['4'] = '110'  # '+'

# 5. Каково медианное значение длительности фильмов?

In [114]:
data.runtime.median()

107.0

In [115]:
answers['5'] = '107.0'  # '+'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [116]:
data[data.profit == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,6,28

In [117]:
answers['6'] = 'Avatar (tt0499549)'  # '+'

# 7. Какой фильм самый убыточный?

In [118]:
data[data.profit == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

In [119]:
answers['7'] = 'The Lone Ranger (tt1210819)'  # '+'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [120]:
len(data[data.revenue > data.budget])

1478

In [121]:
answers['8'] = '1478'  # '+'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [122]:
max_rev = data[(data.release_year == 2008)].revenue.max()  # Определим самый большой ревенью в 2008
data[(data.release_year == 2008)&(data.revenue == max_rev)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67

In [123]:
answers['9'] = 'The Dark Knight'  # '+'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [124]:
min_profit = data[(data.release_year <= 2014) & (data.release_year >= 2012)].profit.min()
data[(data.release_year <= 2014) & (data.release_year >= 2012) & (data.profit == min_profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,15,68

In [125]:
answers['10'] = 'The Lone Ranger'  # '+'

# 11. Какого жанра фильмов больше всего?

In [126]:
list_genres = []  # Создадим список жанров, встречающихся во всех фильмах датасета
for i in data['genres']:
    for j in i.split('|'):
        list_genres.append(j)

In [127]:
''' Узнаем колличсетво фильмов в каждом жанре'''
c = Counter()
for i in list_genres:
    c[i] += 1
display(c)

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [128]:
answers['11'] = 'Action'  # '-'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [129]:
unique_genres = [i for i in set(list_genres)]  # создадим список уникальных жанров
for i in unique_genres:
    print(f'{len(data[(data.profit > 0) & (data["genres"].str.contains(i))])/(len(data[(data.profit > 0) & (data["genres"].str.contains(i))])+len(data[(data.profit < 0) & (data["genres"].str.contains(i))]))} - {i}')

0.8468468468468469 - Fantasy
0.8522727272727273 - Horror
0.7068965517241379 - War
0.7161125319693095 - Drama
0.8120481927710843 - Adventure
0.7862903225806451 - Science Fiction
0.734375 - Music
0.7419354838709677 - History
0.7628865979381443 - Action
0.7333333333333333 - Crime
0.8067349926793558 - Comedy
0.8633093525179856 - Animation
0.7083333333333334 - Mystery
0.7857142857142857 - Romance
0.631578947368421 - Western
0.8692307692307693 - Family
0.7483221476510067 - Thriller
0.0 - Foreign
0.875 - Documentary

In [130]:
answers['12'] = 'Adventure'  # '-'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [131]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [132]:
answers['13'] = 'Peter Jackson'  # '+'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [133]:
action_move = data[data.genres.str.match('Action', na=False)]
action_move.director.value_counts()

Antoine Fuqua            5
Robert Rodriguez         5
Andrzej Bartkowiak       5
Tony Scott               5
Ridley Scott             4
                        ..
Paul McGuigan            1
Gareth Edwards           1
Rob Pritts               1
Gina Prince-Bythewood    1
Jon Turteltaub           1
Name: director, Length: 268, dtype: int64

In [134]:
answers['14'] = 'Robert Rodriguez'  # '+'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [135]:
#  Отфильтруем нужный нам фильм 
most_rev_film = data[(data['release_year'] == 2012) & (data['revenue'] == data[data['release_year'] == 2012].revenue.max())]
display(most_rev_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910,4,12,47

In [136]:
#  Посмотрим список актеров, снимавшихся в этом фильме
for i in most_rev_film.cast:
    display(i)

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

In [137]:
answers['15'] = 'Chris Hemsworth'  # '+'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [138]:
most_bud_films = data[data['budget'] > data['budget'].mean()]  # Фильтрация по высокобюджетным фильмам

most_acters_bud = []  #  списоок актеров снимавшихся в этих фильмах

for i in most_bud_films.cast:
    for j in i.split('|'):
        most_acters_bud.append(j)
        
pd.Series(most_acters_bud).value_counts().head(5)  # определяем актера, снявшийся в большем кол-ве фильмах

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
dtype: int64

In [139]:
answers['16'] = 'Matt Damon'  # '+'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [140]:
df_17 = data[data.cast.str.match('Nicolas Cage', na=False)]  # Отберем фильмы с Nicolas Cage

most_genres =[]

for i in df_17.genres:
    for j in i.split('|'):
        most_genres.append(j)
        
pd.Series(most_genres).value_counts().head(3)

Action      16
Thriller    15
Drama       12
dtype: int64

In [141]:
answers['17'] = 'Action'  # '+'

# 18. Самый убыточный фильм от Paramount Pictures

In [142]:
df_18 = data[data.production_companies.str.match('Paramount Pictures', na=False)]
df_18[df_18.profit == df_18.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,20,23

In [143]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'  # '+'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [144]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [145]:
answers['19'] = '2015'  # '+'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [146]:
df20 = data[data.production_companies.str.contains('Warner Bros.')]
df20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [147]:
answers['20'] = '2014'  # '+'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [148]:
data.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [149]:
answers['21'] = '9'  # '+'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [150]:
len(data[(data.month == '6') | (data.month == '7') | (data.month == '8')])

450

In [151]:
answers['22'] = '450'  # '+'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [152]:
df23 = data[(data.month == '12') | (data.month == '1') | (data.month == '2')]
df23.director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
David Koepp          1
Jonas Elmer          1
Roger Michell        1
Kenneth Branagh      1
Nick Cassavetes      1
Name: director, Length: 332, dtype: int64

In [153]:
answers['23'] = '7'  # '+'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [154]:
list_pc = []  # Создадим список компаний

for i in data['production_companies']:
    for j in i.split('|'):
        list_pc.append(j)

unique_pc = [i for i in set(list_pc)]  # Список уникальных назывний 

max_title = []  # Список среднеих размеров названий фильмов

for i in unique_pc:
    max_title.append(data[data.production_companies.str.contains(i)].size_title.sum()/len(data[data.production_companies.str.contains(i)]))
    
max(max_title)  # Посмотрим максимальную длинну названия  --> 83 символов

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in long_scalars
  if sys.path[0] == '':

83.0

In [155]:
# Посмотрим название компании которая дает в среднем 83 символа в названии
for i in data[data.size_title == 83].production_companies:
    display(i)

'Twentieth Century Fox Film Corporation|Four By Two Productions'

In [156]:
answers['24'] = 'Four By Two Productions'  # '+'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [157]:
max_overview = []

for i in unique_pc:
    max_overview.append(data[data.production_companies.str.contains(i)].size_overview.sum()/len(data[data.production_companies.str.contains(i)]))
    
max(max_overview)  # Посмотрим максимальную длинну описания  --> 175 слов

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in long_scalars
  after removing the cwd from sys.path.

175.0

In [158]:
for i in data[data.size_overview == 175].production_companies:
    display(i)

'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'

In [159]:
answers['25'] = 'Midnight Picture Show'  # '+'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [160]:
len(data)*0.01  # Получим кол-во фильмов состовляющих 1%

18.89

In [161]:
data.sort_values(by=['vote_average'], ascending=False).head(18)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,size_title,size_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,3,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,9,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,22,47

In [162]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  # '+'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 1

In [163]:
# Ben Stiller & Owen Wilson
len(data[(data.cast.str.contains('Ben Stiller')) & (data.cast.str.contains('Owen Wilson'))])

6

In [164]:
# Vin Diesel & Paul Walker
len(data[(data.cast.str.contains('Vin Diesel')) & (data.cast.str.contains('Paul Walker'))])

5

In [165]:
# Adam Sandler & Kevin James
len(data[(data.cast.str.contains('Adam Sandler')) & (data.cast.str.contains('Kevin James'))])

5

In [166]:
# Daniel Radcliffe & Rupert Grint
len(data[(data.cast.str.contains('Daniel Radcliffe')) & (data.cast.str.contains('Rupert Grint'))])

8

In [167]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'  # '+'

ВАРИАНТ 2

In [168]:
''' Данный скрипт требует большого кол-ва времени

list_actors = []  # Создадим список актеров
for i in data['cast']:
    for j in i.split('|'):
        list_actors.append(j)
        
unique_actors = [i for i in set(list_actors)] # Создадим список не повторяющихся актеров

list_of_list_actors = []
for i in data.cast:
    list_actors.append(i.split('|'))

my_list = []
for i in unique_actors:
    for j in unique_actors:
        for n in list_of_list_actors:
            if j in n and i in n and j != i:
                my_list.append(f'{i} - {j}')

c = Counter()
for i in my_list:
    c[i] += 1
display(c)

'''

" Данный скрипт требует большого кол-ва времени\n\nlist_actors = []  # Создадим список актеров\nfor i in data['cast']:\n    for j in i.split('|'):\n        list_actors.append(j)\n        \nunique_actors = [i for i in set(list_actors)] # Создадим список не повторяющихся актеров\n\nlist_of_list_actors = []\nfor i in data.cast:\n    list_actors.append(i.split('|'))\n\nmy_list = []\nfor i in unique_actors:\n    for j in unique_actors:\n        for n in list_of_list_actors:\n            if j in n and i in n and j != i:\n                my_list.append(f'{i} - {j}')\n\nc = Counter()\nfor i in my_list:\n    c[i] += 1\ndisplay(c)\n\n"

# Submission

In [169]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Action',
 '12': 'Adventure',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': '7',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [170]:
# и убедиться что ни чего не пропустил)
len(answers)

27